
/* select
-------------------------- */
/* select下拉框
-------------------------- */
$F--select-dropdown-color: rgba(255, 255, 255, 0.4) !default;
$F--select-dropdown-background: #002f54 !default;
$F--select-dropdown-border: 1px solid #0096fa !default;
$F--select-dropdown-box-shadow: #0095fa 0 0 8px inset !default;
$F--select-dropdown-li-color: #ffffff !default;
$F--select-dropdown-li-hover-color: #ffffff !default;
$F--select-dropdown-li-hover-background: rgba(0, 150, 250, 0.2) !default;

$F--select-dropdown-item-hover-color:  #ffffff !default;
$F--select-dropdown-item-hover-background: rgba(0, 150, 250, 0.2) !default;
