
/* Table
-------------------------- */
/*
Table默认样式
--------------------------*/
$F--table-color: rgba(255, 255, 255, 1) !default;
$F--table-background-color: #002f54 !default;
$F--table-border: 1px solid #005a96 !default;
$F--table-box-shadow: #0095fa 0 0 6px !default;

/* Table表头文字
-------------------------- */
$F--table-thead-color: #00F0F0 !default;

/* Table列背景色
-------------------------- */
$F--table-th-background-color: rgba(0,240,240,0.2) !default;

/* Table行背景色
-------------------------- */
$F--table-tr-background-color: $F--table-background-color !default;

/* Table单列格下边框
-------------------------- */
$F--table-thIsLeaf-td-border-bottom: 1px solid rgba(0,90,150, .6) !default;

/* Table行 鼠标移入背景色
-------------------------- */
$F--table-row-hover-background-color: rgba(0,150,250,0.4) !default;

/* Table 斑马纹表格背景色
-------------------------- */
$F--table-striped-background: rgba(0,90,150,0.2) !default;

/* Table 斑马纹表格 鼠标移入 背景色
-------------------------- */
$F--table-striped-hover-background: rgba(0,150,250,0.4) !default;

/* Table 带边框表格 边框样式
-------------------------- */
$F--table-border-th-th-border: 1px solid rgba(0,150,250,0.4) !default;

/* Table 表格after before 样式
-------------------------- */
$F--table-after-before-background-color: rgba(0,150,250,0.4) !default;

/* Table 表格鼠标移入背景色
-------------------------- */
$F--table-hover-row-striped-current-background-color: rgba(0,150,250,0.4) !default;

/* Table 表格固定列 after before样式
-------------------------- */
$F--table-fixed-before-right-background-color: rgba(0,150,250,0.4) !default;

/* Table 多级表头背景
-------------------------- */
$F--table-thead-is-group-th: rgba(0,240,240,0.2) !default;

/* Table 多级表头下边框
-------------------------- */
$F--table-border-th: 1px solid rgba(0,90,150,0.6) !default;

/* Table 单选 选中背景色
-------------------------- */
$F--table-body-current-row-tr-td: rgba(0,150,250,0.4) !default;

/* Table 表格树icon图标颜色
-------------------------- */
$F--table-expand-icon-color: #0096FA !default;

/* Table 筛选默认图标颜色 bottom top
-------------------------- */
$F--table-sord-caret-ascending-descending: rgba(0,240,240, 0.4) !default;

/* Table 筛选 选中图标颜色 bottom top
-------------------------- */
$F--table-sord-caret-ascending-descending-active: rgba(0,240,240,1) !default;
