/* Tag
-------------------------- */
/* Tag标签 默认样式
-------------------------- */
$F--tag-info-background-color:rgba(0,90,150,0.4) !default;
$F--tag-info-border-color:rgba(0,90,150,1) !default;
$F--tag-info-color:#FFFFFF !default;
/*
.tag-red 红色tag标签
--------------------------*/
$--tag-red-color: #ffffff !default;
$--tag-red-background-color: #e23c41 !default;
/*
.tag-dark-yellow 深黄tag标签
--------------------------*/
$--tag-dark-yellow-color: #ffffff !default;
$--tag-dark-yellow-background-color: #e28307 !default;
/*
.tag-bright-yellow 亮黄tag标签
--------------------------*/
$--tag-bright-yellow-color: #333333 !default;
$--tag-bright-yellow-background-color: #ffcc00 !default;
/*
.tag-green 绿色tag标签
--------------------------*/
$--tag-green-color: #ffffff !default;
$--tag-green-background-color: #31ac5a !default;
